@import '../../index.scss';

.slider-content {
  &.bm-item-list a {
    padding: 0.8em;
    display: block;
    outline: none;
    text-decoration: none;
    color: $primary-color;
    text-transform: capitalize;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    span {
      font-weight: 700;
    }
  }
}
